<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>918155094419-p7l31cktpu5guoldv9p4jv7kotault8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918155094419-p7l31cktpu5guoldv9p4jv7kotault8p</string>
	<key>API_KEY</key>
	<string>AIzaSyBJzIqvqDaFLbVi91m-3huiEuD5TM78QUM</string>
	<key>GCM_SENDER_ID</key>
	<string>918155094419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.flipmap.ppic</string>
	<key>PROJECT_ID</key>
	<string>ppic-production2</string>
	<key>STORAGE_BUCKET</key>
	<string>ppic-production2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918155094419:ios:35713ef01e1b7376</string>
	<key>DATABASE_URL</key>
	<string>https://ppic-production2.firebaseio.com</string>
</dict>
</plist>